/*---backend section---*/

/*.wrapper-backend .content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper-backend .anz-logo img {
  margin-right: 0;
}
.wrapper-backend .content-header, .wrapper-backend .content-header small, .wrapper-backend .content-header > .breadcrumb > li > a, .wrapper-backend .breadcrumb>.active {
  color: #FFF;
}*/

.form-horizontal .box-footer {
  border-top: 0;
}

.control-label-agent p {
  padding-top: 7px;
  padding-bottom: 0;
  margin-bottom: 3px;
}

