html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

#content-area {
    min-height: 100%;
    border: 1px;
}

#content-area .keditor-content-area {
    min-height: 100%;
}

.btn-black {
    border: 1px solid #000;
    background-color: #000;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-black:hover {
    border: 1px solid #00B3E9;
    background-color: #00B3E9;
    color: #FFF;
}
.btn-lg {
    width: 200px;
    margin-top: 15px;
}
.btn {
    border-radius: 0;
}

/* --- content-components page --- */
.components-body-box {
    background-size: cover;
    background-position: top right;
    height: 447px;
    padding-left: 25px;
    padding-right: 25px;
    display: table;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    position: relative;
}

.components-body-box-head {
    height: auto;
    padding-bottom: 50px;
    font-size: 16px;
}

.box-white {
    background-color: #FFF;
}

h1 {
    font-size: 52px;
    padding: 20px 0 20px 0;
    margin: 0;
    font-weight: 300;
}

h2 {
    font-size: 44px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 400;
}

h3 {
    font-size: 36px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 300;
}

h4 {
    font-size: 32px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 300;
}

h5, h6 {
    font-size: 26px;
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 400;
}

.components-body-box-head {
    height: auto !important;
}

.components-body-box-head h5 {
    margin-top: 0px;
    font-weight: 300;
}

.page-header-backgorund {
  padding-top: 70px;
  padding-bottom: 70px;
  /* background-size: cover;
  background-position: center; */
  position: relative;
  height: 430px;
}
.page-header-backgorund img {
  height: 430px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.page-header-backgorund .centered {
    position: absolute;
    width: 100%;
}

.page-header-backgorund .centered h1 {
    font-family: "AirNewzald";
    font-size: 79px;
    color: #FFF;
    line-height: .9em;
    margin-bottom: 30px;
    padding: 0;
}

.page-header-backgorund .centered p {
    max-width: 100% !important;
    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.page-header-backgorund .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.components-body-box {
    position: relative;
}
.components-body-box img {
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.components-body-box-lg img {
    object-fit: cover;
    object-position: right top;
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
}
.components-body-box-inner {
    position: absolute;
    height: 320px;
}
.components-body-box-full {
    background-color: #FCFBFC;
    padding: 25px 25px 50px 25px;
}

.components-body-box-full p {
    max-width: 100% !important;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
}

.components-body-box-full p.intro {
    font-size: 20px;
    font-weight: 400;
}

.components-lg-img {
    padding-right: 0;
}

.components-body-box-full img {
    margin-bottom: 20px;
}

.components-lg-img img {
    margin-right: -10px;
    float: right;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .content-header-components {
        margin-left: 0;
        margin-right: 0;
    }

    .page-header-backgorund h1 {
        font-size: 36px;
    }

    .page-header-backgorund p {
        font-size: 18px;
    }
}

.components-body .col-md-12 p {
    max-width: 600px;
    font-size: 20px;
    font-weight: 300;
}

.components-body .col-md-6 p {
    max-width: 400px;
}

.embed-responsive-16by9 {
    margin-top: 50px;
}

hr {
    border-top: 2px solid #8D2979;
    width: 60px;
    margin: -5px 0 25px;
}
.keditor-snippet img {
    width: 100%;
}
