@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

@font-face {
    font-family: "duo";
    src: url("fonts/duo.eot");
    src: url("fonts/duo.eot?#iefix") format('embedded-opentype'), url("fonts/duo.woff") format('woff'), url("fonts/duo.ttf") format('truetype'), url("fonts/duo.svg#duo") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AirNewzald";
    src: url("fonts/AirNewzald-Black.eot");
    src: url("fonts/AirNewzald-Black.eot?#iefix") format('embedded-opentype'), url("fonts/AirNewzald-Black.woff2") format('woff2'), url("fonts/AirNewzald-Black.woff") format('woff'), url("fonts/AirNewzald-Black.ttf") format('truetype'), url("fonts/AirNewzald-Black.svg#AirNewzald-Black") format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "AirNewzald";
    src: url("fonts/AirNewzald-Bold.eot");
    src: url("fonts/AirNewzald-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/AirNewzald-Bold.woff2") format('woff2'), url("fonts/AirNewzald-Bold.woff") format('woff'), url("fonts/AirNewzald-Bold.ttf") format('truetype'), url("fonts/AirNewzald-Bold.svg#AirNewzald-Bold") format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "AirNewzald";
    src: url("fonts/AirNewzald-BlackItalic.eot");
    src: url("fonts/AirNewzald-BlackItalic.eot?#iefix") format('embedded-opentype'), url("fonts/AirNewzald-BlackItalic.woff2") format('woff2'), url("fonts/AirNewzald-BlackItalic.woff") format('woff'), url("fonts/AirNewzald-BlackItalic.ttf") format('truetype'), url("fonts/AirNewzald-BlackItalic.svg#AirNewzald-BlackItalic") format('svg');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "AirNewzald";
    src: url("fonts/AirNewzald-BoldItalic.eot");
    src: url("fonts/AirNewzald-BoldItalic.eot?#iefix") format('embedded-opentype'), url("fonts/AirNewzald-BoldItalic.woff2") format('woff2'), url("fonts/AirNewzald-BoldItalic.woff") format('woff'), url("fonts/AirNewzald-BoldItalic.ttf") format('truetype'), url("fonts/AirNewzald-BoldItalic.svg#AirNewzald-BoldItalic") format('svg');
    font-weight: bold;
    font-style: italic;
}