body, html {
  height: 100% !important;
}
body {
/*   background: #d2d6de; */
  background-image: url(img/loading_campaign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.login-heading {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.form-control-feedback {
  right: 15px;
  color: #777;
}

.form-horizontal h6 {
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
  font-weight: normal;
}
.panel-default {
    border: 0;
    margin-bottom: 150px;
}
.panel {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
  /*background-color: #0093BB;*/
  border: 0;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: rgba(0, 147, 187, 0.8) !important;
}

.btn-black,
.btn-default {
    border: 1px solid #666;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-default{
    color: #000 !important;
}
.btn-black {
    border: 1px solid #000;
    background-color: #000;
    color: #FFF !important;
    padding: 12px 25px;
}

.btn-black:hover {
    border: 1px solid #00B3E9;
    background-color: #00B3E9;
    color: #FFF;
}
.form-control, select.form-control {
  /*border-radius: 0;*/
}
.ms-choice {
  line-height: 34px;
  height: 34px;
  border-radius: 4px;
  border-color: #CCC;
}
.ms-choice > div {
  top: 4px;
  background: url(img/ico-select.png) left top no-repeat;
  right: -4px;
}
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
}
.footer > div.pull-left{
    padding: 5px 20px 20px 20px;
}
.footer > div.pull-right{
    padding: 20px;
}
.footer .pull-right span {
  padding: 0 10px;
}
.footer .pull-right span:first-child {
  display: none;
}
.footer .pull-right span:last-child {
  display: inline-block;
}
.footer .pull-right a {
  color: #000;
}
.footer .pull-right a span {
  padding-right: 0;
}

.navbar-default {
  display: none;
}

.login-logo-wrap {
  margin-bottom: 100px;
  text-align: right;
}
.login-logo-wrap img {
  margin: 20px 20px 0 0;
  width: 180px;
}

.anz-title {
  background-color: #000;
  display: block;
  color: #FFF;
  text-align: center;
  padding: 15px
}
.anz-title strong {
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
}
.anz-title .anz-tag {
    display: inline-block;
    padding-left: 7px;
    font-family: "AirNewzald", sans-serif;
    font-weight: 100;
    font-size: 17px;
}
.anz-title .anz-tag-block {
  float: left;
  margin-top: 25px;
}
.anz-title .anz-tag-border {
  padding: 0 5px
}
.anz-title-wrap {
  display: inline-block;
}

.panel {
  background-color: transparent;
}
.panel form {
  padding: 0 50px 10px 50px;
}
.panel-heading {
    border-bottom: 0px;
}
.panel-body {
  background-color: rgba(255, 255, 255, 0.90);
}
.panel form h6 {
  font-size: 20px;
  color: #000;
  font-weight: 300;
  margin: 20px 0 30px 0;
}
.panel form h6 span {
  border-bottom: 1px solid #90247A;
  display: inline-block;
  padding-bottom: 5px;
}
.panel form a {
  color: #00BEF6;
}
.panel form .btn-primary {
  padding: 12px 70px;
  background-color: #000;
  text-transform: uppercase;
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.panel form .btn-black,
.panel form .btn-default {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.panel form label {
  font-weight: normal;
  color: #999
}
.panel form input {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 7px 0;
  color: #000;
  font-size: 16px;
}
.panel form .parsley-error {
  border-bottom: 1px solid #ff0000;
}
.parsley-errors-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ff0000;
  display: block;
  position: absolute;
  bottom: -42px;
  height: 60px;
}
select+.parsley-errors-list {
  bottom: -62px
}
/*.parsley-errors-list+label, .parsley-errors-list+span+label {
  color: #ff0000;
}*/
.form-control {
  box-shadow: none!important;
}

@media screen and (max-width:767px) {
  .panel form {
    padding: 0 10px 10px 10px;
  }
  .login-logo-wrap {
    margin-bottom: 30px;
  }
  footer {
    text-align: right;
  }
}
.panel-register .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
    margin-top: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}
p{
    margin-bottom: 20px;
}
.star-logo{
    width: 300px;
}

.container-full-white-bg {
  background-color: #FFF;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.90);
  margin-bottom: 100px;
}


/* --- registration page --- */
.reg-field-title {
  margin-top: 20px;
}
.reg-field {
  display: flex;
  flex-flow: column-reverse;
}
.reg-field label, .reg-field input {
  transition: all 0.2s;
  touch-action: manipulation;
}
.reg-field input {
  z-index: 9;
}
.reg-field input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}
.reg-field input:placeholder-shown + label {
  cursor: text;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 3.125rem) scale(1);
  color: #999;
  font-weight: 300;
}
.reg-field ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
.reg-field input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.reg-field input:not(:placeholder-shown) + label,
.reg-field input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.reg-field .help {
    cursor: help;
    margin-left: 5px;
}

.panel-register .select2-selection__arrow b {
  border: 0 !important;
}
.panel-register .select2-selection__arrow b:after {
  content: "\f107";
  font-family: 'FontAwesome';
  color: #999;
}
.panel-register .select2-selection--single {
  padding-left: 0;
}
.panel-register .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
  font-size: 16px
}

.panel-register ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 300;
}
.panel-register ::-moz-placeholder { /* Firefox 19+ */
  font-weight: 300;
}
.panel-register :-ms-input-placeholder { /* IE 10+ */
  font-weight: 300;
}
.panel-register :-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
}

.container-tc {
  padding: 0;
}
.container-tc h3, .modal-body .panel-body-tc h3 {
  font-weight: bold;
}
.container-tc .panel-register {
  margin-bottom: 0;
}
.panel-body-tc {
  padding: 25px 50px;
}
.modal-body .panel-body-tc {
  padding: 0 30px;
}

.tc-block .parsley-error {
  border: 0 !important
}
.tc-block {
  margin-top: 25px;
  display: block;
}
.tc-block input {
  display: inline-block;
  float: left;
  margin-top: -23px
}
.tc-block label {
  display: inline-block;
  float: left;
  margin-left: 25px
}
.tc-block .parsley-errors-list {
  display: none;
}
.reg-field-postcode .parsley-errors-list+label {
  margin-top: 20px;
}

.modal-reg .modal-header {
  padding: 0;
  bottom: 0;
}
.modal-reg .close {
  color: #FFF;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 15px;
}
