@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

.register-wrap {
  background-image: url(img/loading_campaign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.login-heading {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 25px;
}


.login-logo-wrap {
    margin-bottom: 100px;
    text-align: right;
}
.login-logo-wrap img {
    margin: 20px 20px 0 0;
    width: 180px;
}

.anz-title {
    background-color: #000;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 15px
}
.anz-title strong {
    font-size: 42px;
    font-weight: 700;
    display: inline-block;
}
.anz-title .anz-tag {
    display: inline-block;
    padding-left: 7px;
    font-family: "AirNewzald", sans-serif;
    font-weight: 100;
    font-size: 17px;
}
.anz-title .anz-tag-block {
    float: left;
    margin-top: 25px;
}
.anz-title .anz-tag-border {
    padding: 0 5px
}
.anz-title-wrap {
    display: inline-block;
}
.panel-register {
    margin: 0 auto 50px auto;
    border: 0;
    width: 555px;
}
@media screen and (max-width:599px) {
    .panel-register {
        width: 420px;
    }
}
@media screen and (max-width:460px) {
    .panel-register {
        width: 290px;
    }
}
.panel {
    background-color: transparent;
    border: 0;
}
.panel form {
    padding: 0 35px 10px 35px;
}
.panel-heading {
    border-bottom: 0px;
}
.panel-body {
    background-color: rgba(255, 255, 255, 0.90);
    padding-bottom: 50px;
    margin-bottom: 150px;
}
.panel-body h6 {
    font-size: 20px;
    color: #000;
    font-weight: 300;
    margin: 20px 35px 30px 35px;
}
.panel-body h6 span {
    border-bottom: 1px solid #90247A;
    display: inline-block;
    padding-bottom: 5px;
}
.panel-body p {
    margin: 0 35px 20px 35px;
}
@media screen and (max-width:767px) {
    .panel-body h6 {
        margin: 20px 10px 30px 10px;
    }
    .panel-body p {
        margin: 0 10px 20px 10px;
    }
}
.panel-register .col-md-12, .panel-login .col-md-12 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.tc-block {
    padding-top: 20px;
    display: block;
    clear: both;
}
.tc-block .mdc-form-field {
    margin-left: -10px
}

.star-logo{
    width: 300px;
}

.modal-reg .modal-header {
    padding: 0;
    bottom: 0;
}
.modal-reg .close {
    color: #FFF;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    right: 15px;
    top: 15px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
}
.footer > div.pull-left{
    padding: 5px 20px 0px 20px;
}
.footer > div.pull-right{
    padding: 20px;
}
.footer .pull-right span {
    padding: 0 10px;
}
.footer .pull-right span:first-child {
    display: none;
}
.footer .pull-right span:last-child {
    display: inline-block;
}
.footer .pull-right a {
    color: #000;
}
.footer .pull-right a span {
    padding-right: 0;
}
@media screen and (max-width:991px) {
    .footer {
        height: auto;
    }
    .footer > div.pull-left, .footer > div.pull-right {
        float: none !important;
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer > div.pull-left{
        padding-bottom: 0;
    }
    .footer > div.pull-right {
        padding-top: 0;
    }
}

@media screen and (max-width:767px) {
    .panel form {
        padding: 0 10px 10px 10px;
    }
    .login-logo-wrap {
        margin-bottom: 30px;
    }
    footer {
        text-align: right;
    }
}


/* ---cus meterial css--- */
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box):not(.mdc-text-field--textarea):not(.mdc-text-field--outlined) {
    height: 56px;
}
.mdc-text-field {
    margin-bottom: 0;
}
.mdc-select__native-control {
    padding-top: 23px;
    width: 100%;
}
.mdc-text-field--with-trailing-icon .mdc-text-field__input {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 31px;
    padding-bottom: 5px;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
    width: 100%;
    height: 31px;
    z-index: 999;
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background-color: var(--mdc-theme-primary, #000);
    color: #FFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.mdc-form-field > label.duo-tos {
    font-weight: normal;
}
.mdc-text-field--focused .mdc-text-field__input:required + .mdc-floating-label::after,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label
{
    color: #b3b3b3;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input,
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:hover
{
    color: #7f7f7f;
}
.mdc-floating-label{
    font-size: 14px;
}
.mdc-text-field__input {
  padding: inherit !important;
}
.mdc-text-field .mdc-line-ripple {
  z-index: 999 !important;
}
.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box){
    margin-top:0;
}
.mdc-select{
    height:56px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.mdc-select__native-control{
    /* padding-top: 27px; */
    padding-bottom: 0px;
}
/*.icon-correct{*/
    /*background: url("baseline-check_circle-24px.svg");*/
    /*background-size: 20px;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*.icon-wrong{*/
    /*background: url("baseline-error-24px.svg");*/
    /*background-size: 20px;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*.icon-correct, .icon-wrong {*/
    /*background-position: right;*/
    /*height: auto;*/
/*}*/
/*select.icon-wrong {*/
    /*background: url("baseline-error-24px-select.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right 28px;*/
/*}*/
/*select.icon-correct {*/
    /*background: url("baseline-check_circle-24px-select.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right 28px;*/
/*}*/
.icon-wrong {
    border-bottom-color: #ff3333 !important;
}
.icon-wrong + ul + label, .icon-wrong + ul {
    color: #ff3333 !important;
}
.parsley-errors-list {
    position: absolute;
    top: 60px;
    display: block;
    width:  100%;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}
.parsley-errors-list li {
    list-style:  none;
}
.cus-form-group {
    height: 75px;
}
.helper-text{
    font-size: 10px;
    color: #b3b3b3;
}
.panel-login .mdc-button{
    padding: 0px 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.panel-login form{
    padding: 0 50px 10px 50px;
}
.panel-login h6{
    margin: 20px 0 20px 0;
}
select option{
    font-size: 10px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 0;
}
.btn-black {
    border: 1px solid #000;
    background-color: #000;
    color: #FFF !important;
    padding: 12px 45px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-black:hover {
    border: 1px solid #00B3E9;
    background-color: #00B3E9;
    color: #FFF;
}
@media screen and (max-width:767px) {
    .cus-form-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.btn-link {
    font-weight: normal;
    color: #009ec1;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #00c0f3;
    text-decoration: underline;
    background-color: transparent;
}
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
    border-color: #00c0f3;
    background-color: white;
}
.mdc-checkbox__checkmark{
    color: #00c0f3;
}
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple{
    background-color: #ff3333;
}
