<template>
    <form novalidate
          @submit="validateForm"
          action="/company"
          method="post"
    >
        <input type="hidden" name="_token" :value="csrf">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('consortium')">
                            <label for="consortium">Affiliated Agency Group*</label>
                            <md-select name="consortium" v-model="form.consortium" md-dense  @md-selected="loadAgencies">
                                <md-option value="">Select</md-option>
                                <md-option v-for="consortium in consortiums" :key="consortium.id"
                                           :value="consortium.id">{{consortium.label}}
                                </md-option>
                            </md-select>
                            <span class="md-error" v-if="!$v.form.consortium.doRequired">Please select your Agency Brand</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('agency')">
                            <label for="agency">Agency Brand Name*</label>
                            <md-select name="agency" v-model="form.agency" md-dense  @md-selected="loadStores">
                                <md-option value="">Select</md-option>
                                <md-option v-for="agency in agencies" :key="agency.id" :value="agency.id">{{agency.name}}
                                </md-option>
                            </md-select>
                            <span class="md-error" v-if="!$v.form.agency.doRequired">Please enter your Agency Name</span>
                        </md-field>
                    </div>


                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('position')">
                            <label for="position">Job Title</label>
                            <md-select name="position" v-model="form.position" md-dense >
                                <md-option value="">I am a...</md-option>
                                <md-option value="Consultant">Consultant</md-option>
                                <md-option value="Senior Consultant">Senior Consultant</md-option>
                                <md-option value="Team Leader">Team Leader</md-option>
                                <md-option value="Assistant Team Leader">Assistant Team Leader</md-option>
                                <md-option value="Manager">Manager</md-option>
                                <md-option value="Owner">Owner</md-option>
                                <md-option value="Product Manager">Product Manager</md-option>
                                <md-option value="Business Manager">Business Manager</md-option>
                                <md-option value="Area Leader">Area Leader</md-option>
                            </md-select>
                            <span class="md-error">Please select your Position</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('store')">
                            <label for="store">Store Name</label>
                            <md-select name="store" v-model="form.store" md-dense  @md-selected="loadStates">
                                <md-option value="">Select</md-option>
                                <md-option v-for="store in stores" :key="store.id"
                                           :value="store.id">{{store.name}}
                                </md-option>
                            </md-select>
                            <span class="md-error" v-if="!$v.form.store.doRequired">Please select your Store</span>
                        </md-field>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('state')">
                            <label for="state">State</label>
                            <md-select name="state" v-model="form.state" md-dense >
                                <md-option value="">Select</md-option>
                                <md-option v-for="state in states" :key="state.id"
                                           :value="state.id">{{state.name}}
                                </md-option>
                            </md-select>
                            <span class="md-error">Please select your State</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter">
                        <md-datepicker :class="getValidationClass('startDate')" v-model="form.startDate" md-immediately name="pickerStartDate">
                            <label>Start date</label>
                        </md-datepicker>
                    </div>

                    <div class="md-layout-item md-gutter">
                        <md-datepicker :class="getValidationClass('endDate')" v-model="form.endDate" md-immediately name="pickerEndDate">
                            <label>End date</label>
                        </md-datepicker>
                    </div>
                    <input type="hidden" name="startDate" :value="startDate" />
                    <input type="hidden" name="endDate" :value="endDate" />

                </div>
                <div class="md-layout-checkbox">
                  <md-checkbox v-model="form.active" id="active" name="active"></md-checkbox>
                  <span class="cus-tc-block">
                      I'm currently working here
                  </span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit"
                    class="btn btn-black btn-lg">
                Save & Close
            </button>
            <button type="button" formnovalidate @click="clearForm" class="btn btn-black btn-lg btn-white" data-toggle="collapse" href="#addPosition" aria-expanded="false">
                Cancel
            </button>
        </div>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {
        required
    } from 'vuelidate/lib/validators'

    export default {
        name: 'CompanyForm',
        mixins: [validationMixin],
        data: () => ({
            form: {
                consortium: null,
                agency: null,
                position: null,
                store: null,
                state: null,
                startDate:null,
                endDate: null,
                active: null
            },
            consortiums: [],
            agencies: [],
            stores: [],
            states:[],
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }),
        validations: {
            form: {
                consortium: {
                    required
                },
                agency: {
                    required
                },
                position: {
                    required
                },
                store: {
                    required
                },
                state: {
                    required
                },
                startDate: {
                    required
                },
                endDate: {
                    required
                },
                active: {
                    required
                }
            }
        },
        mounted(){
            this.fetchConsortiums();
            this.removeIcon();
        },
        methods: {
            fetchConsortiums() {
                axios
                    .get('/company/consortium')
                    .then(response => {
                        this.consortiums = response.data;
                    });
            },
            loadAgencies() {
                axios
                    .post('/company/agency', {
                        consortium: this.form.consortium
                    })
                    .then(response => {
                        this.agencies = response.data;
                    });
            },
            loadStores() {
                axios
                    .post('/company/store', {
                        consortium: this.form.consortium,
                        agency: this.form.agency
                    })
                    .then(response => {
                        this.stores = response.data;
                    });
            },
            loadStates() {
                axios
                    .post('/company/state', {
                        store: this.form.store
                    })
                    .then(response => {
                        this.states = response.data;
                    });
            },
            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            validateForm(e) {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    return true;
                }
                e.preventDefault();
            },
            removeIcon(){
                var x = document.getElementsByName("pickerStartDate");
                var y = document.getElementsByName("pickerEndDate");
                x[0].childNodes[0].remove();
                y[0].childNodes[0].remove();
            },
            clearForm () {
                this.$v.$reset()
                this.form.consortium= null
                this.form.agency= null
                this.form.position= null
                this.form.store= null
                this.form.state= null
                this.form.startDate= null
                this.form.endDate= null
                this.form.active= null
            }
        },
        computed:{
            startDate(){
                var mydate = new Date(this.form.startDate);
                var curr_date = mydate.getDate();
                var curr_month = mydate.getMonth() + 1; //Months are zero based
                var curr_year = mydate.getFullYear();
                return curr_date+"-"+curr_month+"-"+curr_year;
            },
            endDate(){
                var mydate = new Date(this.form.endDate);
                var curr_date = mydate.getDate();
                var curr_month = mydate.getMonth() + 1; //Months are zero based
                var curr_year = mydate.getFullYear();
                return curr_date+"-"+curr_month+"-"+curr_year;
            }
        }
    }
</script>

<style lang="scss">

    body {
        min-height: 100%;
        margin: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: auto;
        font-family: 'Open Sans', sans-serif;
    }

    .md-button, .md-button-clean {
        font-family: 'Open Sans', sans-serif;
    }

    .md-body-1, .md-body-2, body {
        font-size: 14px;
        letter-spacing: 0;
    }

    .md-card-content {
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
    }

    .md-card.md-theme-default {
        background-color: transparent;
        color: #7F7F7F;
    }

    .md-card {
        box-shadow: none;
        border-radius: 0;
        border: 0;
    }

    .md-theme-default a:not(.md-button) {
        color: #009EC1;
    }

    .md-theme-default a:not(.md-button):hover {
        color: #00C0F3;
    }

    .md-theme-default .main-footer a, .md-theme-default .main-footer a:hover {
        color: #000;
    }
    .md-theme-default .skin-blue .sidebar-menu > li > a, .md-theme-default .skin-blue .sidebar-menu > li > a:hover {
        color: #FFF;
    }

    /* .md-field {
      margin-top: 0;
    } */
    .md-field.md-theme-default.md-focused label {
        color: #7F7F7F;
    }

    .md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-highlight .md-input, .md-field.md-theme-default.md-highlight .md-textarea {
        color: #00C0F3;
    }

    .md-field.md-theme-default:before {
        background-color: #00C0F3;
    }

    .md-icon.md-theme-default.md-icon-image svg {
        display: none;
    }

    .md-icon.md-theme-default.md-icon-image {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn.btn-black {
        font-weight: 400;
    }

    .btn.btn-black:hover {
        background-color: #009EC1;
        border: 1px solid #009EC1;
    }

    .md-field label {
        font-size: 14px;
    }

    .md-field .md-count, .md-field .md-error, .md-field .md-helper-text {
        font-size: 10px;
        line-height: 1.4em;
    }

    .md-menu-content {
        min-width: 457px;
        max-width: 457px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: #009EC1;
        border-color: #009EC1;
    }

    .md-checkbox.md-theme-default.md-checked .md-ripple {
        color: #009EC1;
    }

    .cus-tc-block {
        margin-top: 15px;
        float: left;
        margin-left: -2px;
    }

    .md-checkbox {
        float: left;
    }

    .md-field.md-theme-default.md-invalid .md-error, .md-field.md-theme-default.md-invalid label {
        color: #ff3333;
    }

    .lines1 .md-field.md-theme-default {
        margin-bottom: 42px;
    }

    .lines2 .md-field.md-theme-default {
        margin-bottom: 56px;
    }

    .lines3 .md-field.md-theme-default {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 599px) {
        .lines2-sm .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines4-sm .md-field.md-theme-default {
            margin-bottom: 84px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 320px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 372px;
            max-width: 372px;
        }
    }

    @media screen and (max-width: 460px) {
        .lines2-xs .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines3-xs .md-field.md-theme-default {
            margin-bottom: 70px;
        }
        .lines5-xs .md-field.md-theme-default {
            margin-bottom: 98px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 200px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 242px;
            max-width: 242px;
        }
    }

    /* .md-field.md-theme-default {
      margin-top: 0;
    } */
    .md-field.md-theme-default {
        margin-bottom: 28px;
    }

    .md-field.md-theme-default.md-invalid {
        margin-bottom: 42px;
    }

    .footer a {
        color: #000 !important;
        text-decoration: none !important;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .pcc-link {
        font-weight: 700;
        line-height: 60px;
        display: inline-block;
        margin-top: 3px;
    }

    .pcc-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

    a:not(.md-button):hover {
        text-decoration: none;
    }

    .md-layout.md-gutter>.md-layout-item {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    .md-layout.md-gutter {
        margin-right: 0;
        margin-left: 0;
    }
    /* .md-layout {
        display: inherit;
        flex-wrap: nowrap;
    } */
    /* .cus-industry-picker .md-icon.md-theme-default.md-icon-image {
      display: none !important;
      width: 0 !important;
      float: none !important;
    } */
    .btn-white {
        background-color: #FFF;
        border: 1px solid #000;
        color: #000 !important;
    }
    .btn-white:hover {
        color: #009EC1 !important;
        border: 1px solid #009EC1 !important;
        background-color: #FFF !important;
    }
    .md-field.md-theme-default label {
        font-weight: 400;
    }
    .content-personal-details-edit .col-md-4.col-md-offset-2 {
        padding-top: 0;
        padding-right: 0;
    }
    .sidebar-menu > li {
        line-height: 24px;
    }
    .sidebar-menu a {
        transition: .3s all;
        transition-property: none;
    }
    .md-theme-default .main-header .sidebar-toggle {
        color: #FFF;
    }
    .md-layout-checkbox {
      padding-left: 20px;
    }

</style>
