<template>
    <form novalidate="true"
          @submit="validateForm"
          action="/profile/update"
          method="post"
    >
        <input name="_method" type="hidden" value="PATCH">
        <input type="hidden" name="_token" :value="csrf">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('title')">
                            <label for="title">Title*</label>
                            <md-select name="title" v-model="form.title" md-dense>
                                <md-option value="">Select</md-option>
                                <md-option value="Mr">Mr</md-option>
                                <md-option value="Mrs">Mrs</md-option>
                                <md-option value="Ms">Ms</md-option>
                                <md-option value="Miss">Miss</md-option>
                                <md-option value="Prefer not to disclose">Prefer not to disclose</md-option>
                            </md-select>
                            <span class="md-error">Please select your Title</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('firstName')" :md-counter="false">
                            <label for="first-name">First Name*</label>
                            <md-input name="first_name" id="first-name" v-model="form.firstName"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error"
                                  v-if="!$v.form.firstName.required">Please enter your first name</span>
                            <span class="md-error" v-else-if="!$v.form.firstName.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.firstName.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>


                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('lastName')" :md-counter="false">
                            <label for="last-name">Last Name*</label>
                            <md-input name="last_name" id="last-name" v-model="form.lastName"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.lastName.required">Please enter your last name</span>
                            <span class="md-error" v-else-if="!$v.form.lastName.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.lastName.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('email')" :md-counter="false">
                            <label for="email">Email Address*</label>
                            <md-input type="email" name="email" id="email" v-model="form.email" :disabled="true"
                                      minlength="3" maxlength="30"/>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter lines2 lines2-sm lines2-xs md-size-100">
                        <md-field :class="getValidationClass('phoneNumber')" :md-counter="false">
                            <label for="phoneNumber">Mobile*</label>
                            <md-input type="tel" name="phoneNumber" id="phoneNumber" v-model="form.phoneNumber"
                                      minlength="3" maxlength="10"
                                      pattern="^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$"/>
                            <span class="md-helper-text">We'll only use your mobile to contact you for information relating to your duo account or reward.</span>
                            <span class="md-error"
                                  v-if="!$v.form.phoneNumber.required">Please enter your mobile number</span>
                            <span class="md-error" v-else-if="!$v.form.phoneNumber.pattern">Format your number 04xx-xxx-xxx without dash</span>
                            <span class="md-error"
                                  v-else-if="!$v.form.phoneNumber.tel">This is not a valid mobile number</span>
                            <span class="md-error" v-else-if="!$v.form.phoneNumber.numeric">This is not a valid mobile number</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter lines2 lines2-sm lines3-xs cus-industry-picker md-size-100">
                        <md-datepicker :class="getValidationClass('industryStartDate')"
                                       v-model="form.industryStartDate" md-immediately name="industryStartDate">
                            <label>Industry Start Date*</label>
                            <span class="md-helper-text">Make sure you are receiving duo communications personalised to your experience by telling us when you started in the Travel industry.</span>
                        </md-datepicker>
                    </div>
                    <input type="hidden" name="startDate" :value="startDate" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-gutter lines2 lines2-sm lines3-xs md-size-100">
                        <md-field :class="getValidationClass('address1')" :md-counter="false">
                            <label for="address1">Address Line 1*</label>
                            <md-input name="address1" id="address1" v-model="form.address1"
                                      minlength="3" maxlength="30"/>
                            <span class="md-helper-text">Your address details will help fulfil any rewards you receive that will require delivery.</span>
                            <span class="md-error" v-if="!$v.form.address1.required">Please enter your Address</span>
                            <span class="md-error" v-else-if="!$v.form.address1.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.address1.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('address2')" :md-counter="false">
                            <label for="address2">Address Line 2</label>
                            <md-input name="address2" id="address2" v-model="form.address2"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.address2.required">Please enter your Address</span>
                            <span class="md-error" v-else-if="!$v.form.address2.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.address2.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('address3')" :md-counter="false">
                            <label for="address3">Enter Suburb*</label>
                            <md-input name="address3" id="address3" v-model="form.address3"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.address3.required">Please enter your Suburb</span>
                            <span class="md-error" v-else-if="!$v.form.address3.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.address3.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('suburb')" :md-counter="false">
                            <label for="suburb">Enter Town or city*</label>
                            <md-input name="suburb" id="suburb" v-model="form.suburb" minlength="3"
                                      maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.suburb.required">Please enter your Town or City</span>
                            <span class="md-error" v-else-if="!$v.form.suburb.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.suburb.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('state')">
                            <label for="state">State*</label>
                            <md-select name="state" v-model="form.state" md-dense>
                                <md-option value="">Select</md-option>
                                <md-option value="New South Wales">New South Wales</md-option>
                                <md-option value="Queensland">Queensland</md-option>
                                <md-option value="Victoria">Victoria</md-option>
                                <md-option value="Western Australia">Western Australia</md-option>
                                <md-option value="South Australia">South Australia</md-option>
                                <md-option value="Tasmania">Tasmania</md-option>
                                <md-option value="Australian Capital Territory">Australian Capital Territory</md-option>
                                <md-option value="Northern Territory">Northern Territory</md-option>
                            </md-select>
                            <span class="md-helper-text"></span>
                            <span class="md-error">Please select your State</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter md-size-100">
                        <md-field :class="getValidationClass('postcode')" :md-counter="false">
                            <label for="postcode">Postcode*</label>
                            <md-input name="postcode" id="postcode" v-model="form.postcode"
                                      minlength="4" maxlength="4"/>
                            <span class="md-error" v-if="!$v.form.postcode.required">Please enter your Postcode</span>
                            <span class="md-error" v-else-if="!$v.form.postcode.minlength">This value is too short. It should have 4 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.postcode.maxlength">This value is too long. It should have 4 characters or fewer.</span>
                        </md-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit"
                    class="btn btn-black btn-lg">
                Save & Close
            </button>
            <button type="button" formnovalidate class="btn btn-black btn-lg btn-white">
                Cancel
            </button>
        </div>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {email, helpers, maxLength, minLength, numeric, required} from 'vuelidate/lib/validators'

    export default {
        name: 'ProfileForm',
        props: [
            'title',
            'firstName',
            'lastName',
            'email',
            'phoneNumber',
            'industryStartDate',
            'address1',
            'address2',
            'address3',
            'suburb',
            'state',
            'postcode'
        ],
        mixins: [validationMixin],
        data: () => ({
            form: {
                title: null,
                firstName: null,
                lastName: null,
                email: null,
                phoneNumber: null,
                industryStartDate: null,
                address1: null,
                address2: null,
                address3: null,
                suburb: null,
                state: null,
                postcode: null,
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }),
        validations: {
            form: {
                title: {
                    required
                },
                firstName: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30)
                },
                lastName: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30)
                },
                email: {
                    required,
                    email
                },
                phoneNumber: {
                    required,
                    numeric,
                    minLength: minLength(10),
                    maxLength: maxLength(10),
                    pattern: helpers.regex('pattern', /^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$/)
                },
                address1: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                address2: {},
                address3: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                suburb: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                state: {
                    required
                },
                postcode: {
                    required,
                    numeric,
                    minLength: minLength(4),
                    maxLength: maxLength(4),
                }
            }
        },
        mounted() {
            this.form.title = this.title;
            this.form.firstName = this.firstName;
            this.form.lastName = this.lastName;
            this.form.email = this.email;
            this.form.phoneNumber = this.phoneNumber;
            this.form.industryStartDate = this.industryStartDate;
            this.form.address1 = this.address1;
            this.form.address2 = this.address2;
            this.form.address3 = this.address3;
            this.form.suburb = this.suburb;
            this.form.state = this.state;
            this.form.postcode = this.postcode;
            this.removeIcon();
        },
        methods: {
            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            validateForm(e) {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    return true;
                }
                e.preventDefault();
            },
            removeIcon(){
                var x = document.getElementsByName("industryStartDate");
                x[0].childNodes[0].remove();
            }
        },
        computed:{
            startDate(){
                var mydate = new Date(this.form.industryStartDate);
                var curr_date = mydate.getDate();
                var curr_month = mydate.getMonth() + 1; //Months are zero based
                var curr_year = mydate.getFullYear();
                return curr_date+"-"+curr_month+"-"+curr_year;
            }
        }
    }
</script>

<style lang="scss">
    body {
        min-height: 100%;
        margin: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: auto;
        font-family: 'Open Sans', sans-serif;
    }

    .md-button, .md-button-clean {
        font-family: 'Open Sans', sans-serif;
    }

    .md-body-1, .md-body-2, body {
        font-size: 14px;
        letter-spacing: 0;
    }

    .md-card-content {
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
    }

    .md-card.md-theme-default {
        background-color: transparent;
        color: #7F7F7F;
    }

    .md-card {
        box-shadow: none;
        border-radius: 0;
        border: 0;
    }

    .md-theme-default a:not(.md-button) {
        color: #009EC1;
    }

    .md-theme-default a:not(.md-button):hover {
        color: #00C0F3;
    }

    .md-theme-default .main-footer a, .md-theme-default .main-footer a:hover {
        color: #000;
    }

    .md-theme-default .skin-blue .sidebar-menu > li > a, .md-theme-default .skin-blue .sidebar-menu > li > a:hover {
        color: #FFF;
    }

    /* .md-field {
      margin-top: 0;
    } */
    .md-field.md-theme-default.md-focused label {
        color: #7F7F7F;
    }

    .md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-highlight .md-input, .md-field.md-theme-default.md-highlight .md-textarea {
        color: #00C0F3;
    }

    .md-field.md-theme-default:before {
        background-color: #00C0F3;
    }

    .md-icon.md-theme-default.md-icon-image svg {
        display: none;
    }

    .md-icon.md-theme-default.md-icon-image {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn.btn-black {
        font-weight: 400;
    }

    .btn.btn-black:hover {
        background-color: #009EC1;
        border: 1px solid #009EC1;
    }

    .md-field label {
        font-size: 14px;
    }

    .md-field .md-count, .md-field .md-error, .md-field .md-helper-text {
        font-size: 10px;
        line-height: 1.4em;
    }

    .md-menu-content {
        min-width: 457px;
        max-width: 457px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: #009EC1;
        border-color: #009EC1;
    }

    .md-checkbox.md-theme-default.md-checked .md-ripple {
        color: #009EC1;
    }

    .cus-tc-block {
        margin-top: 15px;
        float: left;
        margin-left: -2px;
    }

    .md-checkbox {
        float: left;
    }

    .md-field.md-theme-default.md-invalid .md-error, .md-field.md-theme-default.md-invalid label {
        color: #ff3333;
    }

    .lines1 .md-field.md-theme-default {
        margin-bottom: 42px;
    }

    .lines2 .md-field.md-theme-default {
        margin-bottom: 56px;
    }

    .lines3 .md-field.md-theme-default {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 599px) {
        .lines2-sm .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines4-sm .md-field.md-theme-default {
            margin-bottom: 84px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 320px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 372px;
            max-width: 372px;
        }
    }

    @media screen and (max-width: 460px) {
        .lines2-xs .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines3-xs .md-field.md-theme-default {
            margin-bottom: 70px;
        }
        .lines5-xs .md-field.md-theme-default {
            margin-bottom: 98px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 200px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 242px;
            max-width: 242px;
        }
    }

    /* .md-field.md-theme-default {
      margin-top: 0;
    } */
    .md-field.md-theme-default {
        margin-bottom: 28px;
    }

    .md-field.md-theme-default.md-invalid {
        margin-bottom: 42px;
    }

    .footer a {
        color: #000 !important;
        text-decoration: none !important;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .pcc-link {
        font-weight: 700;
        line-height: 60px;
        display: inline-block;
        margin-top: 3px;
    }

    .pcc-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

    a:not(.md-button):hover {
        text-decoration: none;
    }

    .md-layout.md-gutter > .md-layout-item {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }

    .md-layout.md-gutter {
        margin-right: 0;
        margin-left: 0;
    }

    /* .md-layout {
        display: inherit;
        flex-wrap: nowrap;
    } */

    /* .cus-industry-picker .md-icon.md-theme-default.md-icon-image {
      display: none !important;
      width: 0 !important;
      float: none !important;
    } */
    .btn-white {
        background-color: #FFF;
        border: 1px solid #000;
        color: #000 !important;
    }

    .btn-white:hover {
        color: #009EC1 !important;
        border: 1px solid #009EC1 !important;
        background-color: #FFF !important;
    }

    .md-field.md-theme-default label {
        font-weight: 400;
    }

    .content-personal-details-edit .col-md-4.col-md-offset-2 {
        padding-top: 0;
        padding-right: 0;
    }

    .sidebar-menu > li {
        line-height: 24px;
    }

    .sidebar-menu a {
        transition: .3s all;
        transition-property: none;
    }

    .md-theme-default .main-header .sidebar-toggle {
        color: #FFF;
    }
    .content-personal-details-edit {
      right: 0;
    }
</style>
