<template>
    <form novalidate="true"
          @submit="validateForm"
          action="/password"
          method="post"
    >
        <input type="hidden" name="_token" :value="csrf">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('currentPassword')" :md-counter="false"
                                  :md-toggle-password="false">
                            <label for="currentPassword">Current Password*</label>
                            <md-input name="old-password" id="currentPassword" type="password" v-model="form.currentPassword"
                                       minlength="8" maxlength="30"/>
                            <span class="md-error"
                                  v-if="!$v.form.currentPassword.required">Please enter your new password.</span>
                            <span class="md-error" v-else-if="!$v.form.currentPassword.hasOneNumber">Your password must contain at least 1 number.</span>
                            <span class="md-error" v-else-if="!$v.form.currentPassword.alphaNum">Your password must contain at least 1 number.</span>
                            <span class="md-error" v-else-if="!$v.form.currentPassword.minlength">Password must be at least 8 characters</span>
                            <span class="md-error" v-else-if="!$v.form.currentPassword.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>
                    <!-- <p>Enter your new password below. It must be at least 8 characters and contain at least one number.</p> -->
                    <div class="md-layout-item md-gutter lines2 lines2-sm lines3-xs">
                        <md-field :class="getValidationClass('password')" :md-counter="false"
                                  :md-toggle-password="false">
                            <label for="password">Password*</label>
                            <md-input name="password" id="password" type="password" v-model="form.password"
                                       minlength="8" maxlength="30"/>
                            <span class="md-helper-text">Enter your new password. It must be at least 8 characters and contain at least one number.</span>
                            <span class="md-error"
                                  v-if="!$v.form.password.required">Please enter your new password.</span>
                            <span class="md-error" v-else-if="!$v.form.password.hasOneNumber">Your password must contain at least 1 number.</span>
                            <span class="md-error" v-else-if="!$v.form.password.alphaNum">Your password must contain at least 1 number.</span>
                            <span class="md-error" v-else-if="!$v.form.password.minlength">Password must be at least 8 characters</span>
                            <span class="md-error" v-else-if="!$v.form.password.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-gutter">
                        <md-field :class="getValidationClass('passwordConfirmation')" :md-counter="false"
                                  :md-toggle-password="false">
                            <label for="passwordConfirmation">Confirm Password*</label>
                            <md-input name="password_confirmation" id="passwordConfirmation" type="password"
                                      v-model="form.passwordConfirmation"  minlength="8"
                                      maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.passwordConfirmation.required">Please re-enter your new password</span>
                            <span class="md-error" v-else-if="!$v.form.passwordConfirmation.sameAsPassword">Your passwords are not the same</span>
                            <span class="md-error" v-else-if="!$v.form.passwordConfirmation.alphaNum">Your password must contain at least 1 number.</span>
                            <span class="md-error" v-else-if="!$v.form.passwordConfirmation.minlength">Password must be at least 8 characters</span>
                            <span class="md-error" v-else-if="!$v.form.passwordConfirmation.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="text-center">
              <button type="submit"
                      class="btn btn-black btn-lg">
                  Save & Close
              </button>
              <button type="button" formnovalidate @click="clearForm" class="btn btn-black btn-lg btn-white" data-toggle="collapse" href="#editPassword" aria-expanded="false">
                  Cancel
              </button>
          </div>
        </div>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {
        alphaNum,
        maxLength,
        minLength,
        required,
        sameAs
    } from 'vuelidate/lib/validators'
    export default {
        name: 'SettingsForm',
        mixins: [validationMixin],
        data: () => ({
            form: {
                currentPassword: null,
                password: null,
                passwordConfirmation: null,
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }),
        validations: {
            form: {
                currentPassword: {
                    required,
                    alphaNum,
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                    hasOneNumber(value) {
                        var numbers = value.match(/[0-9]/g) || [];
                        return numbers.length >= 1;
                    }
                },
                password: {
                    required,
                    alphaNum,
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                    hasOneNumber(value) {
                        var numbers = value.match(/[0-9]/g) || [];
                        return numbers.length >= 1;
                    }
                },
                passwordConfirmation: {
                    required,
                    alphaNum,
                    sameAsPassword: sameAs('password'),
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                },
            }
        },
        methods: {
            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            validateForm(e) {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    return true;
                }
                e.preventDefault();
            },
            clearForm () {
                this.$v.$reset()
                this.form.password= null
                this.form.currentPassword= null
                this.form.passwordConfirmation= null
            }
        }
    }
</script>

<style lang="scss">
  body {
      min-height: 100%;
      margin: 0;
      position: relative;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -moz-osx-font-smoothing: auto;
      -webkit-font-smoothing: auto;
      font-family: 'Open Sans', sans-serif;
  }

  .md-button, .md-button-clean {
      font-family: 'Open Sans', sans-serif;
  }

  .md-body-1, .md-body-2, body {
      font-size: 14px;
      letter-spacing: 0;
  }

  .md-card-content {
      padding: 0px;
      font-size: 14px;
      line-height: 22px;
  }

  .md-card.md-theme-default {
      background-color: transparent;
      color: #7F7F7F;
  }

  .md-card {
      box-shadow: none;
      border-radius: 0;
      border: 0;
  }

  .md-theme-default a:not(.md-button) {
      color: #009EC1;
  }

  .md-theme-default a:not(.md-button):hover {
      color: #00C0F3;
  }

  .md-theme-default .main-footer a, .md-theme-default .main-footer a:hover {
      color: #000;
  }
  .md-theme-default .skin-blue .sidebar-menu > li > a, .md-theme-default .skin-blue .sidebar-menu > li > a:hover {
      color: #FFF;
  }

  /* .md-field {
    margin-top: 0;
  } */
  .md-field.md-theme-default.md-focused label {
      color: #7F7F7F;
  }

  .md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-highlight .md-input, .md-field.md-theme-default.md-highlight .md-textarea {
      color: #00C0F3;
  }

  .md-field.md-theme-default:before {
      background-color: #00C0F3;
  }

  .md-icon.md-theme-default.md-icon-image svg {
      display: none;
  }

  .md-icon.md-theme-default.md-icon-image {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
  }

  .btn.btn-black {
      font-weight: 400;
  }

  .btn.btn-black:hover {
      background-color: #009EC1;
      border: 1px solid #009EC1;
  }

  .md-field label {
      font-size: 14px;
  }

  .md-field .md-count, .md-field .md-error, .md-field .md-helper-text {
      font-size: 10px;
      line-height: 1.4em;
  }

  .md-menu-content {
      min-width: 457px;
      max-width: 457px;
      margin-left: 15px;
      margin-top: 20px;
  }

  .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
      background-color: #009EC1;
      border-color: #009EC1;
  }

  .md-checkbox.md-theme-default.md-checked .md-ripple {
      color: #009EC1;
  }

  .cus-tc-block {
      margin-top: 15px;
      float: left;
      margin-left: -2px;
  }

  .md-checkbox {
      float: left;
  }

  .md-field.md-theme-default.md-invalid .md-error, .md-field.md-theme-default.md-invalid label {
      color: #ff3333;
  }

  .lines1 .md-field.md-theme-default {
      margin-bottom: 42px;
  }

  .lines2 .md-field.md-theme-default {
      margin-bottom: 56px;
  }

  .lines3 .md-field.md-theme-default {
      margin-bottom: 70px;
  }

  @media screen and (max-width: 599px) {
      .lines2-sm .md-field.md-theme-default {
          margin-bottom: 56px;
      }
      .lines4-sm .md-field.md-theme-default {
          margin-bottom: 84px;
      }
      .cus-tc-block {
          margin-top: 12px;
          width: 320px;
          line-height: 1.4em;
      }
      .md-menu-content {
          min-width: 372px;
          max-width: 372px;
      }
  }

  @media screen and (max-width: 460px) {
      .lines2-xs .md-field.md-theme-default {
          margin-bottom: 56px;
      }
      .lines3-xs .md-field.md-theme-default {
          margin-bottom: 70px;
      }
      .lines5-xs .md-field.md-theme-default {
          margin-bottom: 98px;
      }
      .cus-tc-block {
          margin-top: 12px;
          width: 200px;
          line-height: 1.4em;
      }
      .md-menu-content {
          min-width: 242px;
          max-width: 242px;
      }
  }

  /* .md-field.md-theme-default {
    margin-top: 0;
  } */
  .md-field.md-theme-default {
      margin-bottom: 28px;
  }

  .md-field.md-theme-default.md-invalid {
      margin-bottom: 42px;
  }

  .footer a {
      color: #000 !important;
      text-decoration: none !important;
  }

  .md-progress-bar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
  }

  .fade-enter-active, .fade-leave-active {
      transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
      opacity: 0;
  }

  .pcc-link {
      font-weight: 700;
      line-height: 60px;
      display: inline-block;
      margin-top: 3px;
  }

  .pcc-link:hover {
      text-decoration: none;
      cursor: pointer;
  }

  a:not(.md-button):hover {
      text-decoration: none;
  }

  .md-layout.md-gutter>.md-layout-item {
      display: block;
      margin-right: 0;
      margin-left: 0;
  }
  .md-layout.md-gutter {
      margin-right: 0;
      margin-left: 0;
  }
  /* .md-layout {
      display: inherit;
      flex-wrap: nowrap;
  } */
  /* .cus-industry-picker .md-icon.md-theme-default.md-icon-image {
    display: none !important;
    width: 0 !important;
    float: none !important;
  } */
  .btn-white {
      background-color: #FFF;
      border: 1px solid #000;
      color: #000 !important;
  }
  .btn-white:hover {
      color: #009EC1 !important;
      border: 1px solid #009EC1 !important;
      background-color: #FFF !important;
  }
  .md-field.md-theme-default label {
      font-weight: 400;
  }
  .content-personal-details-edit .col-md-4.col-md-offset-2 {
      padding-top: 0;
      padding-right: 0;
  }
  .sidebar-menu > li {
      line-height: 24px;
  }
  .sidebar-menu a {
      transition: .3s all;
      transition-property: none;
  }
  .md-theme-default .main-header .sidebar-toggle {
      color: #FFF;
  }
</style>
