<template>
    <form novalidate="true"
          class="md-layout"
          @submit="checkForm"
          action="/password/reset"
          method="post"
          autocomplete="off"
    >
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" name="token" :value="form.token">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h6>Create a new <strong>password</strong></h6>
            <p>
                Enter the email address registered to your <strong>duo</strong><br>
                account and your new password.
            </p>

            <md-field :class="getValidationClass('email')" :md-counter="false">
                <label for="email">Email Address*</label>
                <md-input type="email" name="email" id="email" v-model="form.email"
                          minlength="3" maxlength="30"/>
                <span class="md-helper-text">Enter the email address registered to your duo account</span>
                <span class="md-error" v-if="!$v.form.email.required">Please enter your work email</span>
                <span class="md-error" v-else-if="!$v.form.email.email">This is not a valid email address</span>
            </md-field>

            <md-field :class="getValidationClass('password')" :md-counter="false"
                      :md-toggle-password="false">
                <label for="password">Password*</label>
                <md-input name="password" id="password" type="password" v-model="form.password"
                          minlength="8" maxlength="30"/>
                <span class="md-helper-text">Enter your new password. It must be at least 8 characters and contain at least one number.</span>
                <span class="md-error"
                      v-if="!$v.form.password.required">Please enter your new password.</span>
                <span class="md-error" v-else-if="!$v.form.password.hasOneNumber">Your password must contain at least 1 number.</span>
                <span class="md-error" v-else-if="!$v.form.password.alphaNum">Your password must contain at least 1 number.</span>
                <span class="md-error" v-else-if="!$v.form.password.minlength">Password must be at least 8 characters</span>
                <span class="md-error" v-else-if="!$v.form.password.maxlength">This value is too long. It should have 30 characters or fewer.</span>
            </md-field>

            <md-field :class="getValidationClass('passwordConfirmation')" :md-counter="false"
                      :md-toggle-password="false">
                <label for="passwordConfirmation">Confirm Password*</label>
                <md-input name="password_confirmation" id="passwordConfirmation" type="password"
                          v-model="form.passwordConfirmation" minlength="8"
                          maxlength="30"/>
                <span class="md-error" v-if="!$v.form.passwordConfirmation.required">Please re-enter your new password</span>
                <span class="md-error" v-else-if="!$v.form.passwordConfirmation.sameAsPassword">Password should be same</span>
                <span class="md-error" v-else-if="!$v.form.passwordConfirmation.alphaNum">Your password must contain at least 1 number.</span>
                <span class="md-error" v-else-if="!$v.form.passwordConfirmation.minlength">Password must be at least 8 characters</span>
                <span class="md-error" v-else-if="!$v.form.passwordConfirmation.maxlength">This value is too long. It should have 30 characters or fewer.</span>
            </md-field>

            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-black">
                    Next
                </button>
                <a class="btn btn-default" onclick="window.location='/login';">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {
        email,
        required,
        alphaNum,
        maxLength,
        minLength,
        sameAs
    } from 'vuelidate/lib/validators'

    export default {
        name: "createPassword",
        mixins: [validationMixin],
        props: ['token'],
        data: () => ({
            form: {
                email: null,
                password: null,
                passwordConfirmation: null,
                token: null,
            },
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }),
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    alphaNum,
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                    hasOneNumber(value) {
                        var numbers = value.match(/[0-9]/g) || [];
                        return numbers.length >= 1;
                    }
                },
                passwordConfirmation: {
                    required,
                    alphaNum,
                    sameAsPassword: sameAs('password'),
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                },
            }
        },
        mounted(){
            this.form.token = this.token;
        },
        methods: {
            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            checkForm(e) {
                this.$v.$touch()

                if (!this.$v.$invalid) {
                    return true;
                }
                e.preventDefault();
            }
        }
    }
</script>

<style lang="scss">
    body {
        min-height: 100%;
        margin: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: auto;
        font-family: 'Open Sans', sans-serif;
    }

    .md-button, .md-button-clean {
        font-family: 'Open Sans', sans-serif;
    }

    .md-body-1, .md-body-2, body {
        font-size: 14px;
        letter-spacing: 0;
    }

    .md-card-content {
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
    }

    .md-card.md-theme-default {
        background-color: transparent;
        color: #7F7F7F;
    }

    .md-card {
        box-shadow: none;
        border-radius: 0;
        border: 0;
    }

    .md-theme-default a:not(.md-button) {
        color: #009EC1;
    }

    .md-theme-default a:not(.md-button):hover {
        color: #00C0F3;
    }

    /* .md-field {
      margin-top: 0;
    } */
    .md-field.md-theme-default.md-focused label {
        color: #7F7F7F;
    }

    .md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-highlight .md-input, .md-field.md-theme-default.md-highlight .md-textarea {
        color: #00C0F3;
    }

    .md-field.md-theme-default:before {
        background-color: #00C0F3;
    }

    .md-icon.md-theme-default.md-icon-image svg {
        display: none;
    }

    .md-icon.md-theme-default.md-icon-image {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn.btn-black {
        font-weight: 400;
    }

    .btn.btn-black:hover {
        background-color: #009EC1;
        border: 1px solid #009EC1;
    }

    .md-field label {
        font-size: 14px;
    }

    .md-field .md-count, .md-field .md-error, .md-field .md-helper-text {
        font-size: 10px;
        line-height: 1.4em;
    }

    .md-menu-content {
        min-width: 457px;
        max-width: 457px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: #009EC1;
        border-color: #009EC1;
    }

    .md-checkbox.md-theme-default.md-checked .md-ripple {
        color: #009EC1;
    }

    .cus-tc-block {
        margin-top: 15px;
        float: left;
        margin-left: -2px;
    }

    .md-checkbox {
        float: left;
    }

    .md-field.md-theme-default.md-invalid .md-error, .md-field.md-theme-default.md-invalid label {
        color: #ff3333;
    }

    .lines1 .md-field.md-theme-default {
        margin-bottom: 42px;
    }

    .lines2 .md-field.md-theme-default {
        margin-bottom: 56px;
    }

    .lines3 .md-field.md-theme-default {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 599px) {
        .lines2-sm .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines4-sm .md-field.md-theme-default {
            margin-bottom: 84px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 320px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 372px;
            max-width: 372px;
        }
    }

    @media screen and (max-width: 460px) {
        .lines2-xs .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines3-xs .md-field.md-theme-default {
            margin-bottom: 70px;
        }
        .lines5-xs .md-field.md-theme-default {
            margin-bottom: 98px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 200px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 242px;
            max-width: 242px;
        }
    }

    /* .md-field.md-theme-default {
      margin-top: 0;
    } */
    .md-field.md-theme-default {
        margin-bottom: 28px;
    }

    .md-field.md-theme-default.md-invalid {
        margin-bottom: 42px;
    }

    .footer a {
        color: #000 !important;
        text-decoration: none !important;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .pcc-link {
        font-weight: 700;
        line-height: 60px;
        display: inline-block;
        margin-top: 3px;
    }

    .pcc-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

    a:not(.md-button):hover {
        text-decoration: none;
    }
</style>