<template>
    <form novalidate="true"
          class="md-layout"
          @submit="validateForm"
          action="/register"
          method="post"
          autocomplete="off"
    >
        <input type="hidden" name="_token" :value="csrf">
        <md-card class="md-layout-item md-small-size-100">
            <md-card-content class="clearfix">
                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('title')">
                        <label for="title">Title</label>
                        <md-select name="title" v-model="form.title" md-dense>
                            <md-option value="">Select</md-option>
                            <md-option value="Mr">Mr</md-option>
                            <md-option value="Mrs">Mrs</md-option>
                            <md-option value="Ms">Ms</md-option>
                            <md-option value="Miss">Miss</md-option>
                            <md-option value="Prefer not to disclose">Prefer not to disclose</md-option>
                        </md-select>
                        <span class="md-error">Please select your Title</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('firstName')" :md-counter="false">
                        <label for="first-name">First Name*</label>
                        <md-input name="first_name" id="first-name" v-model="form.firstName"
                                  minlength="3" maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.firstName.required">Please enter your first name</span>
                        <span class="md-error" v-else-if="!$v.form.firstName.minlength">This value is too short. It should have 3 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.firstName.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>


                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('lastName')" :md-counter="false">
                        <label for="last-name">Last Name*</label>
                        <md-input name="last_name" id="last-name" v-model="form.lastName"
                                  minlength="3" maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.lastName.required">Please enter your last name</span>
                        <span class="md-error" v-else-if="!$v.form.lastName.minlength">This value is too short. It should have 3 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.lastName.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>
                <div class="md-layout-item md-gutter lines1">
                    <md-field :class="getValidationClass('email')" :md-counter="false">
                        <label for="email">Email Address*</label>
                        <md-input type="email" name="email" id="email" v-model="form.email"
                                  minlength="3" maxlength="30"/>
                        <span class="md-helper-text">Enter your work email address</span>
                        <span class="md-error" v-if="!$v.form.email.required">Please enter your work email</span>
                        <span class="md-error" v-else-if="!$v.form.email.email">This is not a valid email address</span>
                        <span class="md-error" v-else-if="!$v.form.email.domain">Unfortunately we dont accept users from this domain at this stage. Please contact your BDM for assistance in setting up your account.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter lines1 lines2-sm lines2-xs">
                    <md-field :class="getValidationClass('phoneNumber')" :md-counter="false">
                        <label for="phoneNumber">Mobile*</label>
                        <md-input type="tel" name="phoneNumber" id="phoneNumber" v-model="form.phoneNumber"
                                  minlength="3" maxlength="10"
                                  pattern="^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$"/>
                        <span class="md-helper-text">We'll only use your mobile to contact you for information relating to your duo account or reward</span>
                        <span class="md-error"
                              v-if="!$v.form.phoneNumber.required">Please enter your mobile number</span>
                        <span class="md-error" v-else-if="!$v.form.phoneNumber.pattern">Format your number 04xx-xxx-xxx without dash</span>
                        <span class="md-error"
                              v-else-if="!$v.form.phoneNumber.tel">This is not a valid mobile number</span>
                        <span class="md-error" v-else-if="!$v.form.phoneNumber.numeric">This is not a valid mobile number</span>
                    </md-field>
                </div>

                <transition name="fade">
                    <div class="md-layout-item md-gutter lines2 lines2-sm lines3-xs" v-show="hasPCC">
                        <md-field :class="getValidationClass('pcc')" :md-counter="false">
                            <label for="pcc">Agency Pseudo Code(PCC)*</label>
                            <md-input type="text" name="pcc" id="pcc" v-model="form.pcc" :disabled="!hasPCC"
                                      minlength="4" maxlength="9"/>
                            <span class="md-helper-text">Agency Pseudo Code (PCC) is an alpha-numeric identifier for a travel agency using the global distribution system (GDS)</span>
                            <span class="md-error"
                                  v-if="!$v.form.pcc.required">Please enter your agency pseudo code</span>
                            <span class="md-error" v-else-if="!$v.form.pcc.checkPCC">Please enter your Agency details below</span>
                            <span class="md-error" v-else-if="!$v.form.pcc.minlength">This value is too short. It should have 4 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.pcc.maxlength">This value is too long. It should have 9 characters or fewer.</span>
                        </md-field>
                    </div>
                </transition>

                <div class="md-layout-item md-gutter">
                    <a class="pcc-link" v-if="hasPCC" v-on:click="toggle()">Use Consortium Instead</a>
                </div>

                <transition name="fade">
                    <div class="md-layout-item md-gutter lines1 lines2-xs" v-show="!hasPCC">
                        <md-field :class="getValidationClass('consortium')">
                            <label for="consortium">Affiliated Agency Group*</label>
                            <md-select name="consortium" v-model="form.consortium" md-dense :disabled="hasPCC"
                                       @md-selected="loadAgencies">
                                <md-option value="">Select</md-option>
                                <md-option v-for="consortium in consortiums" :key="consortium.id"
                                           :value="consortium.id">{{consortium.label}}
                                </md-option>
                            </md-select>
                            <span class="md-helper-text">Select the Agency Group your agency is affiliated with, or belongs to</span>
                            <span class="md-error"
                                  v-if="!$v.form.consortium.required">Please select your Agency Brand</span>
                        </md-field>
                    </div>
                </transition>

                <transition name="fade">
                    <div class="md-layout-item md-gutter lines1 lines2-xs" v-show="!hasPCC">
                        <md-field :class="getValidationClass('agency')">
                            <label for="agency">Agency Brand Name*</label>
                            <md-select name="agency" v-model="form.agency" md-dense :disabled="hasPCC"
                                       @md-selected="loadStores">
                                <md-option value="">Select</md-option>
                                <md-option v-for="agency in agencies" :key="agency.id" :value="agency.id">
                                    {{agency.name}}
                                </md-option>
                            </md-select>
                            <span class="md-helper-text">Select your Agency brand which belongs to your Affiliated Agency Group</span>
                            <span class="md-error"
                                  v-if="!$v.form.agency.required">Please enter your Agency Name</span>
                        </md-field>
                    </div>
                </transition>

                <transition name="fade">
                    <div class="md-layout-item md-gutter" v-show="isAgencyOtherSelected">
                        <md-field :class="getValidationClass('agencyOther')" :md-counter="false">
                            <label for="agencyOther">Agency Brand Name</label>
                            <md-input name="agencyOther" id="agencyOther" v-model="form.agencyOther"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.agencyOther.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.agencyOther.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>
                </transition>

                <transition name="fade">
                    <div class="md-layout-item md-gutter lines3 lines4-sm lines5-xs" v-show="!hasPCC">
                        <md-field :class="getValidationClass('store')">
                            <label for="store">Store Name*</label>
                            <md-select name="store" v-model="form.store" md-dense :disabled="hasPCC"
                                       @md-selected="getSelectedStore">
                                <md-option value="">Select</md-option>
                                <md-option v-for="store in stores" :key="store.id"
                                           :value="store.id">{{store.name}}
                                </md-option>
                            </md-select>
                            <span class="md-helper-text">If you belong to a National Agency Brand, select your Store Branch Name - this is often where your agency is located, e.g. Circular Quay <br>
                                        If you don't have a Store Brand Name, select 'Other' and enter the Suburb of your store.</span>
                            <span class="md-error" v-if="!$v.form.store.required">Please select your Store</span>
                        </md-field>
                    </div>
                </transition>

                <transition name="fade">
                    <div class="md-layout-item md-gutter" v-show="isStoreOtherSelected">
                        <md-field :class="getValidationClass('storeOther')" :md-counter="false">
                            <label for="storeOther">Store Name</label>
                            <md-input name="storeOther" id="storeOther" v-model="form.storeOther"
                                      minlength="3" maxlength="30"/>
                            <span class="md-error" v-if="!$v.form.storeOther.minlength">This value is too short. It should have 3 characters or more.</span>
                            <span class="md-error" v-else-if="!$v.form.storeOther.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                        </md-field>
                    </div>
                </transition>

                <div class="md-layout-item md-gutter">
                    <a class="pcc-link" v-if="!hasPCC" v-on:click="toggle()">Use PCC Instead</a>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('position')">
                        <label for="position">I am a Mobile or Home based Travel*</label>
                        <md-select name="position" v-model="form.position" md-dense>
                            <md-option value="">Select</md-option>
                            <md-option value="Yes">Yes</md-option>
                            <md-option value="No">No</md-option>
                        </md-select>
                        <span class="md-helper-text"></span>
                        <span class="md-error">Please select who you are</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter lines2 lines2-sm lines3-xs">
                    <md-field :class="getValidationClass('address1')" :md-counter="false">
                        <label for="address1">Address Line 1*</label>
                        <md-input name="address1" id="address1" v-model="form.address1"
                                  minlength="3" maxlength="30"/>
                        <span class="md-helper-text">We require your postal address to deliver duo reward items you have achieved. Please ensure you provide an address which will accept couriers.</span>
                        <span class="md-error" v-if="!$v.form.address1.required">Please enter your Address</span>
                        <span class="md-error" v-else-if="!$v.form.address1.minlength">This value is too short. It should have 3 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.address1.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('address2')" :md-counter="false">
                        <label for="address2">Address Line 2</label>
                        <md-input name="address2" id="address2" v-model="form.address2"
                                  maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.address2.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('address3')" :md-counter="false">
                        <label for="address3">Enter Suburb*</label>
                        <md-input name="address3" id="address3" v-model="form.address3"
                                  minlength="3" maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.address3.required">Please enter your Suburb</span>
                        <span class="md-error" v-else-if="!$v.form.address3.minlength">This value is too short. It should have 3 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.address3.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('suburb')" :md-counter="false">
                        <label for="suburb">Enter Town or city*</label>
                        <md-input name="suburb" id="suburb" v-model="form.suburb" minlength="3"
                                  maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.suburb.required">Please enter your Town or City</span>
                        <span class="md-error" v-else-if="!$v.form.suburb.minlength">This value is too short. It should have 3 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.suburb.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('state')">
                        <label for="state">State*</label>
                        <md-select name="state" v-model="form.state" md-dense>
                            <md-option value="">Select</md-option>
                            <md-option v-for="state in states" :key="state.id"
                                       :value="state.id">{{state.name}}
                            </md-option>
                        </md-select>
                        <span class="md-helper-text"></span>
                        <span class="md-error">Please select your State</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('postcode')" :md-counter="false">
                        <label for="postcode">Postcode*</label>
                        <md-input name="postcode" id="postcode" v-model="form.postcode"
                                  minlength="4" maxlength="4"/>
                        <span class="md-error" v-if="!$v.form.postcode.required">Please enter your Postcode</span>
                        <span class="md-error" v-else-if="!$v.form.postcode.minlength">This value is too short. It should have 4 characters or more.</span>
                        <span class="md-error" v-else-if="!$v.form.postcode.maxlength">This value is too long. It should have 4 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter lines1 lines2-sm lines3-xs">
                    <md-field :class="getValidationClass('password')" :md-counter="false" :md-toggle-password="false">
                        <label for="password">Password*</label>
                        <md-input name="password" id="password" type="password" v-model="form.password"
                                  minlength="8" maxlength="30"/>
                        <span class="md-helper-text">Enter a password. It must be at least 8 characters, and contain at least one number.</span>
                        <span class="md-error" v-if="!$v.form.password.required">Please enter your new password.</span>
                        <span class="md-error" v-else-if="!$v.form.password.hasOneNumber">Your password must contain at least 1 number.</span>
                        <span class="md-error" v-else-if="!$v.form.password.alphaNum">Your password must contain at least 1 number.</span>
                        <span class="md-error" v-else-if="!$v.form.password.minlength">Password must be at least 8 characters</span>
                        <span class="md-error" v-else-if="!$v.form.password.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-gutter">
                    <md-field :class="getValidationClass('passwordConfirmation')" :md-counter="false"
                              :md-toggle-password="false">
                        <label for="passwordConfirmation">Confirm Password*</label>
                        <md-input name="password_confirmation" id="passwordConfirmation" type="password"
                                  v-model="form.passwordConfirmation" minlength="8" maxlength="30"/>
                        <span class="md-error" v-if="!$v.form.passwordConfirmation.required">Please re-enter your new password</span>
                        <span class="md-error" v-else-if="!$v.form.passwordConfirmation.sameAsPassword">Password should be same</span>
                        <span class="md-error" v-else-if="!$v.form.passwordConfirmation.alphaNum">Your password must contain at least 1 number.</span>
                        <span class="md-error" v-else-if="!$v.form.passwordConfirmation.minlength">Password must be at least 8 characters</span>
                        <span class="md-error" v-else-if="!$v.form.passwordConfirmation.maxlength">This value is too long. It should have 30 characters or fewer.</span>
                    </md-field>
                </div>

                <md-checkbox v-model="form.terms" id="terms" name="terms"></md-checkbox>
                <span class="cus-tc-block">
                        I accept Duo's
                        <a class="btn-link" href="/terms-and-conditions" target="_blank">Terms & Conditions</a> and
                        <a class="btn-link" href="https://www.airnewzealand.com.au/privacy-policy" target="_blank">Privacy Policy</a>
                    </span>
            </md-card-content>

            <div class="text-center">
                <button type="submit"
                        class="btn btn-black">
                    Register
                </button>
            </div>

            <div class="md-layout md-gutter md-alignment-center">
                <a class="btn-link" href="/login">Already a member?</a>
            </div>
        </md-card>
    </form>
</template>

<script>
    import {validationMixin} from 'vuelidate'
    import {alphaNum, email, helpers, maxLength, minLength, numeric, required, sameAs} from 'vuelidate/lib/validators'

    export default {
        name: 'FormValidation',
        mixins: [validationMixin],
        data: () => ({
            form: {
                title: null,
                firstName: null,
                lastName: null,
                email: null,
                phoneNumber: null,
                pcc: null,
                consortium: null,
                agency: null,
                agencyOther: null,
                store: null,
                storeOther: null,
                position: null,
                address1: null,
                address2: null,
                address3: null,
                suburb: null,
                state: null,
                postcode: null,
                password: null,
                passwordConfirmation: null,
                terms: false
            },
            hasPCC: true,
            agencyDisabled: true,
            storeDisabled: true,
            isAgencyOtherSelected: false,
            isStoreOtherSelected: false,
            consortiums: [],
            agencies: [],
            stores: [],
            states: [],
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }),
        validations: {
            form: {
                firstName: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30)
                },
                lastName: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30)
                },
                email: {
                    required,
                    email,
                    domain(value) {
                        if (value === null) {
                            return true
                        }
                        return new Promise((resolve, reject) => {
                            axios.post('/register/domain', {
                                email: value
                            }).then((success) => {
                                resolve(success.data)
                            })
                                .catch((error) => {
                                    reject(false)
                                })
                        })
                    }
                },
                phoneNumber: {
                    required,
                    numeric,
                    minLength: minLength(10),
                    maxLength: maxLength(10),
                    pattern: helpers.regex('pattern', /^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$/)
                },
                pcc: {

                    minLength: minLength(4),
                    maxLength: maxLength(9),
                    alphaNum,
                    checkPCC(value) {
                        if (value === null) {
                            return true
                        }
                        return new Promise((resolve, reject) => {
                            axios.post('/register/pcc', {
                                pcc: value
                            }).then((success) => {
                                resolve(success.data)
                            })
                                .catch((error) => {
                                    reject(false)
                                })
                        })
                    }
                },
                consortium: {

                },
                agency: {

                },
                agencyOther: {
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                store: {

                },
                storeOther: {
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                position: {
                    required
                },
                address1: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                address2: {
                    maxLength: maxLength(30),
                },
                address3: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                suburb: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(30),
                },
                state: {
                    required
                },
                postcode: {
                    required,
                    numeric,
                    minLength: minLength(4),
                    maxLength: maxLength(4),
                },
                password: {
                    required,
                    alphaNum,
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                    hasOneNumber(value) {
                        var numbers = value.match(/[0-9]/g) || [];
                        return numbers.length >= 1;
                    }
                },
                passwordConfirmation: {
                    required,
                    alphaNum,
                    sameAsPassword: sameAs('password'),
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                },
                terms: {
                    required
                }
            }
        },
        mounted() {
            this.fetchConsortiums();
            this.fetchStates();
        },
        methods: {
            fetchConsortiums() {
                axios
                    .get('/register/consortium')
                    .then(response => {
                        this.consortiums = response.data;
                    });
            },
            fetchStates() {
                axios
                    .get('/register/states')
                    .then(response => {
                        this.states = response.data;
                    });
            },
            loadAgencies() {
                axios
                    .post('/register/agency', {
                        consortium: this.form.consortium
                    })
                    .then(response => {
                        this.agencies = response.data;
                    });
            },
            loadStores() {
                axios
                    .post('/register/store', {
                        consortium: this.form.consortium,
                        agency: this.form.agency
                    })
                    .then(response => {
                        this.stores = response.data;
                    });
                if (this.agencies.length > 0) {
                    if (this.form.agency == this.agencies[this.agencies.length - 1].id) {
                        this.isAgencyOtherSelected = true
                    } else {
                        this.isAgencyOtherSelected = false
                    }
                }
            },
            getSelectedStore() {
                if (this.stores.length > 0) {
                    if (this.form.store == this.stores[this.stores.length - 1].id) {
                        this.isStoreOtherSelected = true
                    } else {
                        this.isStoreOtherSelected = false
                    }
                }
            },
            getValidationClass(fieldName) {
                const field = this.$v.form[fieldName]

                if (field) {
                    return {
                        'md-invalid': field.$invalid && field.$dirty
                    }
                }
            },
            validateForm(e) {
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    return false
                }
                e.preventDefault();
            },
            toggle() {
                this.hasPCC = !this.hasPCC
            }
        }
    }
</script>

<style lang="scss">
    body {
        min-height: 100%;
        margin: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: auto;
        font-family: 'Open Sans', sans-serif;
    }

    .md-button, .md-button-clean {
        font-family: 'Open Sans', sans-serif;
    }

    .md-body-1, .md-body-2, body {
        font-size: 14px;
        letter-spacing: 0;
    }

    .md-card-content {
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
    }

    .md-card.md-theme-default {
        background-color: transparent;
        color: #7F7F7F;
    }

    .md-card {
        box-shadow: none;
        border-radius: 0;
        border: 0;
    }

    .md-theme-default a:not(.md-button) {
        color: #009EC1;
    }

    .md-theme-default a:not(.md-button):hover {
        color: #00C0F3;
    }

    /* .md-field {
      margin-top: 0;
    } */
    .md-field.md-theme-default.md-focused label {
        color: #7F7F7F;
    }

    .md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-highlight .md-input, .md-field.md-theme-default.md-highlight .md-textarea {
        color: #00C0F3;
    }

    .md-field.md-theme-default:before {
        background-color: #00C0F3;
    }

    .md-icon.md-theme-default.md-icon-image svg {
        display: none;
    }

    .md-icon.md-theme-default.md-icon-image {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='8px' viewBox='0 0 16 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='arrow' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.2376,1.2 C14.2333821,1.30797219 14.1888542,1.41044357 14.1128,1.4872 L8.288,7.312 C8.2128,7.3872 8.1008,7.4368 8.0008,7.4368 C7.9008,7.4368 7.788,7.3864 7.7136,7.312 L1.8888,1.4872 C1.8136,1.412 1.764,1.3 1.764,1.2 C1.764,1.1 1.8144,0.9872 1.8888,0.9128 L2.5136,0.288 C2.5888195,0.209706662 2.69223957,0.164766466 2.8008,0.1632 C2.90877219,0.167417893 3.01124357,0.211945848 3.088,0.288 L8.0008,5.2008 L12.9136,0.288 C12.9888,0.2128 13.1008,0.1632 13.2008,0.1632 C13.3008,0.1632 13.4136,0.2136 13.488,0.288 L14.1128,0.9128 C14.1891184,0.989377138 14.2336935,1.09195695 14.2376,1.2 Z' id='Shape' fill='#b3b3b3' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .btn.btn-black {
        font-weight: 400;
    }

    .btn.btn-black:hover {
        background-color: #009EC1;
        border: 1px solid #009EC1;
    }

    .md-field label {
        font-size: 14px;
    }

    .md-field .md-count, .md-field .md-error, .md-field .md-helper-text {
        font-size: 10px;
        line-height: 1.4em;
    }

    .md-menu-content {
        min-width: 457px;
        max-width: 457px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
        background-color: #009EC1;
        border-color: #009EC1;
    }

    .md-checkbox.md-theme-default.md-checked .md-ripple {
        color: #009EC1;
    }

    .cus-tc-block {
        margin-top: 15px;
        float: left;
        margin-left: -2px;
    }

    .md-checkbox {
        float: left;
    }

    .md-field.md-theme-default.md-invalid .md-error, .md-field.md-theme-default.md-invalid label {
        color: #ff3333;
    }

    .lines1 .md-field.md-theme-default {
        margin-bottom: 42px;
    }

    .lines2 .md-field.md-theme-default {
        margin-bottom: 56px;
    }

    .lines3 .md-field.md-theme-default {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 599px) {
        .lines2-sm .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines4-sm .md-field.md-theme-default {
            margin-bottom: 84px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 320px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 372px;
            max-width: 372px;
        }
    }

    @media screen and (max-width: 460px) {
        .lines2-xs .md-field.md-theme-default {
            margin-bottom: 56px;
        }
        .lines3-xs .md-field.md-theme-default {
            margin-bottom: 70px;
        }
        .lines5-xs .md-field.md-theme-default {
            margin-bottom: 98px;
        }
        .cus-tc-block {
            margin-top: 12px;
            width: 200px;
            line-height: 1.4em;
        }
        .md-menu-content {
            min-width: 242px;
            max-width: 242px;
        }
    }

    /* .md-field.md-theme-default {
      margin-top: 0;
    } */
    .md-field.md-theme-default {
        margin-bottom: 28px;
    }

    .md-field.md-theme-default.md-invalid {
        margin-bottom: 42px;
    }

    .footer a {
        color: #000 !important;
        text-decoration: none !important;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .pcc-link {
        font-weight: 700;
        line-height: 60px;
        display: inline-block;
        margin-top: 3px;
    }

    .pcc-link:hover {
        text-decoration: none;
        cursor: pointer;
    }

    a:not(.md-button):hover {
        text-decoration: none;
    }

    .footer {
        position: inherit;
    }
</style>
