<template lang="html">
    <tr>
        <td class="status">
            <button data-toggle="tooltip" data-placement="right" v-bind:title="tooltip(sale.status)"><img
                    v-bind:src="'assets/img/ico-'+sale.status+'.png'" alt=""></button>
        </td>
        <td>
            <input type="date" class="form-control"
                   v-model="editForm.pnr_creation" v-if="edit"
            >
            <span v-else>{{ sale.pnr_creation }}</span>
        </td>
        <td>
            <input type="text" required="required" class="form-control"
                   v-model="editForm.pnr" v-if="edit"
            >
            <span v-else>{{ sale.pnr }}</span>
        </td>
        <td>
            <input type="text" class="form-control"
                   v-model="editForm.pax" v-if="edit"
            >
            <span v-else data-toggle="tooltip" data-placement="right" title="Total count of passengers you booked to the final destination">{{ sale.pax }}</span>
        </td>
        <td>
            <input type="text" class="form-control"
                   v-model="editForm.pax" v-if="edit"
            >
            <span v-else data-toggle="tooltip" data-placement="right" title="Total count of passengers you booked to the Air New Zealand arrival port">{{ sale.pax }}</span>
        </td>
        <td>
            <input type="text" class="form-control"
                   v-model="editForm.campaign" v-if="edit"
            >
            <span v-else data-toggle="tooltip" data-placement="right" title="This booking is eligible for the campaign you are participating in.">{{ sale.campaign }}</span>
        </td>
        <td>
            <input type="text" class="form-control"
                   v-model="editForm.class" v-if="edit"
            >
            <span v-else data-toggle="tooltip" data-placement="right" title="Total count of cabin sectors you booked on this PNR">{{ sale.class }}</span>
        </td>
        <td class="notes">
            <input type="textarea" class="form-control"
                   v-model="editForm.notes" v-if="edit"
            >
            <span v-else>{{ sale.notes }}</span>
        </td>
        <td class="text-right">
            <button type="button" class="btn btn-edit"
                    v-on:click="editSale" v-if="!edit"
            >
                <i class="icon-ANE1227_TEP_icon_set_V1_edit"></i>
            </button>

            <button type="button" class="btn btn-save"
                    v-on:click="updateSale(sale, editForm)" v-if="edit"
            >
                SAVE
            </button>

            <button type="button" class="btn btn-cancel"
                    v-on:click="cancelEdit" v-if="edit"
            >
                <i class="icon-ANE1227_TEP_icon_set_V1_close"></i>
            </button>

            <button type="button" class="btn btn-delete"
                    v-on:click="$emit('delete-sale', sale)" v-if="!edit"
            >
                <i class="icon-ANE1227_TEP_icon_set_V1_trash2"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['sale'],

        data() {
            return {
                edit: false,
                editForm: {
                    pnr_creation: '',
                    pnr: '',
                    pax:'',
                    pax:'',
                    campaign: '',
                    class: '',
                    notes: ''
                }
            }
        },

        methods: {
            editSale() {
                this.edit = true;
                this.editForm.pnr_creation = this.sale.pnr_creation;
                this.editForm.pnr = this.sale.pnr;
                this.editForm.pax = this.sale.pax;
                this.editForm.pax = this.sale.pax;
                this.editForm.campaign = this.sale.campaign;
                this.editForm.class = this.sale.class;
                this.editForm.notes = this.sale.notes;
            },
            cancelEdit() {
                this.edit = false;
                this.editForm.pnr_creation = '';
                this.editForm.pnr = '';
                this.editForm.pax = '';
                this.editForm.pax = '';
                this.editForm.campaign = '';
                this.editForm.class = '';
                this.editForm.notes = '';
            },
            updateSale(oldSale, newSale) {
                if (newSale.pnr == '') {
                    alert('The PNR field is required.');
                } else {
                    axios.patch('/api/sales/' + oldSale.id, newSale).then(response => {
                        this.$emit('update-sale');
                        this.cancelEdit();
                        console.log(response.data);
                    }, (response) => {
                        console.log(response.data);
                    });
                }
            },
            tooltip(status){
                if(status == 'Valid'){
                    return 'Your booking was validated';
                }else if (status == 'Pending'){
                    return 'Your booking is pending.  When your booking is ticketed, it will be validated';
                }else if (status == 'Cancelled'){
                    return 'Your booking has not been ticketed within the required ticketing time limit.';
                }else if (status == 'Problem'){
                    return 'We could not match this PNR in our system, please check the PNR details and resubmit';
                }
            }
        }
    }
</script>

<style lang="css">
</style>
