<template lang="html">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#mysales-all" aria-controls="mysales-all" role="tab"
                                                      data-toggle="tab" @click="viewAll()">All
                <span>({{allCount}}) <span>|</span> </span></a>
            </li>
            <li role="presentation"><a href="#mysales-validated" aria-controls="mysales-validated" role="tab"
                                       data-toggle="tab" @click="viewValid()">Validated
                <span>({{validCount}}) <span>|</span> </span></a>
            </li>
            <li role="presentation"><a href="#mysales-pending" aria-controls="mysales-pending" role="tab"
                                       data-toggle="tab" @click="viewPending()">Pending
                <span>({{pendingCount}}) <span>|</span> </span></a>
            </li>
            <li role="presentation"><a href="#mysales-cancelled" aria-controls="mysales-cancelled" role="tab"
                                       data-toggle="tab" @click="viewCancelled()">Cancelled
                <span>({{cancelledCount}}) <span>|</span> </span></a>
            </li>
            <li role="presentation"><a href="#mysales-problem" aria-controls="mysales-problem" role="tab"
                                       data-toggle="tab" @click="viewProblem()">Problem <span>({{problemCount}})</span></a>
            </li>
        </ul>

        <form class="anz-default form-inline">

            <div class="form-group">
                <input type="text" class="form-control" id="pnr" v-model="filterKey" name="query"
                       placeholder="Ticket No, PNR or Dest.">
            </div>
            <button onclick="return false;" class="btn btn-black btn-lg"><i
                    class="icon-ANE1227_TEP_icon_set_V1_search3"></i></button>

        </form>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="mysales-all">
                <h2>{{ monthYear }}</h2>
                <div id="sales-january">
                    <table class="table table-mysales">
                        <thead>
                        <tr>
                            <th v-for="key in columns"
                                @click="sortBy(key)"
                                :class="{ active: sortKey == key }"
                            >
                                {{ key | capitalize }}
                                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                            </th>
                            <th width="150"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <Sale v-for="sale in filteredList" :key="sale.id" v-bind:sale="sale"
                              v-on:delete-sale="deleteSale"
                              v-on:update-sale="fetchSales"
                        >
                        </Sale>
                        </tbody>
                    </table>
                    <Pagination v-bind:pagination="pagination"
                                v-on:click.native="fetchSales(pagination.current_page)"
                                :offset="4">
                    </Pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Sale from './Sale.vue';
    import Pagination from './Pagination.vue'

    export default {

        components: {
            Sale,
            Pagination
        },

        props: {
            allCount: 0,
            validCount: 0,
            pendingCount: 0,
            cancelledCount: 0,
            problemCount: 0,
            monthYear: ''
        },

        data() {
            var sortOrders = {}
            var columns = ['Status', 'PNR Creation Date', 'PNR','Final Destination', 'NZ Arrival Airport', 'Campaign', 'Class', 'Status Notes']
            columns.forEach(function (key) {
                sortOrders[key] = 1
            })
            return {
                filterKey: '',
                sales: [],
                errors: [],
                sale: {
                    status: '',
                    pnr_creation: '',
                    pnr: '',
                    pax:'',
                    pax:'',
                    campaign: '',
                    class: '',
                    notes: ''
                },
                sortKey: '',
                viewFilter: '',
                sortOrders: sortOrders,
                columns: columns,
                counter: 0,
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
            }
        },

        created() {
            this.fetchSales(this.pagination.current_page);
        },

        methods: {

            fetchSales(page) {
                axios
                    .get('/api/sales?page=' + page)
                    .then(response => {
                        this.sales = response.data.data;
                        this.pagination = response.data;
                    });
            },
            deleteSale(sale) {
                axios
                .delete('/api/sales/' + sale.id)
                    .then(response => {
                    let index = this.sales.indexOf(sale);
                    this.sales.splice(index, 1);
                });
            },
            sortBy(key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            },
            viewAll() {
                this.viewFilter = ''
            },
            viewValid() {
                this.viewFilter = 'Valid'
            },
            viewProblem() {
                this.viewFilter = 'Problem'
            },
            viewPending() {
                this.viewFilter = 'Pending'
            },
            viewCancelled() {
                this.viewFilter = 'Cancelled'
            }
        },
        computed: {
            filteredList() {
                var sortKey = this.sortKey
                var viewFilter = this.viewFilter
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.sales
                if (filterKey) {
                    data = data.filter((row) => {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                if (viewFilter) {
                    data = data.filter((row) => {
                        return Object.keys(row).some(function (key) {
                            return String(row['status']).indexOf(viewFilter) > -1
                        })
                    })
                }
                return data
            }
        },
        filters: {
            capitalize(str) {
                return (str.charAt(0).toUpperCase() + str.slice(1)).split('_')[0]
            }
        }
    }
</script>

<style lang="css">

    th.active .arrow {
        opacity: 1;
    }

    .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-left: 5px;
        opacity: 0.66;
    }

    .arrow.asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #000;
    }

    .arrow.dsc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
    }
</style>
